<html lang="en">
  <%- include('./header') -%>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="/css/custom.css"/>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

  <body>
    <section id="app-logo">
      <div class="container xlp-container">
        <div class="row justify-content-between">
          <div class="col-md-12">
            <img src="/images/logo-ipsum.png" style="max-width: 200px; margin: 25px; float: left;" class="img-fluid" alt="app-logo"/>
            <img src="/images/connected-app.svg" style="max-width: 200px; float: right;" class="img-fluid" alt="xero-app-partner-logo"/>
          </div>
        </div>
      </div>
    </section>

    <section id="key-benefit">
      <div class="container text-center">
        <div class="jumbotron xlp-jumbotron" style="padding-top: 30px;">
          <div class="xlp-jumbotron-text">
            <div class="row">
              <div class='col-md-7'>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">
                         <small class="text-muted"><%= user.firstName %> <%= user.lastName %></small>
                        </th>
                      <th scope="col">
                         <small class="text-muted"><%= user.email %></small>
                        </th>
                      <th scope="col">
                         <small class="text-muted"><%= user.active_tenant.orgData.timezone %></small>
                        </th>
                    </tr>
                  </thead>
                </table>
              </div>
              <div class='col-md-5 text-right'>
                <div class='nav-settings'>
                  <form method='POST' action="/change_organisation">
                    <select name='active_org_id' class="select-box">
                      <% for(var i=0; i < allTenants.length; i++) { %>
                        <% var selected = allTenants[i].tenantId === user.active_tenant.tenantId ? "selected" : "" %>
                        <option <%= selected %> value=<%= allTenants[i].tenantId %>> <%= allTenants[i].tenantName %></option>
                        <% } %>
                      </select>
                      <input type="submit" class="select-input" value="Set Active Tenant">
                  </form>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class='col-md-12 text-left'>
                <h1>Information about your subscription</h1>

                <!-- <%= JSON.stringify(user.subscription) %> -->

                <strong>Plan: </strong><%= user.subscription.plans[0].name %>
                <br>
                <strong>Amount: </strong>$<%= user.subscription.plans[0].subscriptionItems[0].price.currency %>: <%= user.subscription.plans[0].subscriptionItems[0].price.amount %>
                <br>
                <strong>Plan Start: </strong><%= user.subscription.startDate %>
                <br>
                <strong>Current Period End: </strong><%= user.subscription.currentPeriodEnd %>
                <br>
                <strong>Plan Status: </strong><%= user.subscription.status %>
                <br>
              </div>
            </div>
            <br>
            <div class="row text-center">
              <div class='col-md-12'>
                <a href='/logout'>Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

<script>
  window.history.pushState("", "", '/subscriptions');
</script>
